/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    border-bottom: 2px solid #22c55e; /* verde */
    background-color: #f0fdf4;
}

/* Main */
main {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* Sections */
section {
    background-color: #f9fffb;
    padding: 40px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    text-align: center;
    border: 1px solid #bbf7d0;
    transition: all 0.2s ease;
}

/* Hover leve */
section:hover {
    border-color: #22c55e;
    transform: translateY(-2px);
}

/* Título */
h1 {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #15803d; /* verde mais forte */
}

/* Footer */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border-top: 2px solid #22c55e;
    color: #666;
    background-color: #f0fdf4;
}